**Importing Libraries**

In [22]:
import pandas as pd
import mysql.connector as sql
import streamlit as st
import plotly.express as px
import os
import json
from streamlit_option_menu import option_menu
from PIL import Image

Data Extraction

Cloning Data from Github
 os.environ["GIT_PYTHON_REFRESH"] = "quiet"
 import git
 from git.repo.base import Repo
 Repo.clone_from("https://github.com/PhonePe/pulse.git", "C:\Users\sanja\Downloads\phonepe project\pulse-master")

In [24]:
#Cloning Data from Github
os.environ["GIT_PYTHON_REFRESH"] = "quiet"
import git
from git.repo.base import Repo
Repo.clone_from("https://github.com/PhonePe/pulse.git", "C:/Users/sanja/Downloads/phonepe_project/")

Data transformation
Dataframe of aggregated Transactions

In [25]:
path1 = "C:/Users/sanja/Downloads/phonepe project/pulse-master/data/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(path1)

columns1 = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_type': [], 'Transaction_count': [],
            'Transaction_amount': []}
for state in agg_trans_list:
    cur_state = path1 + state + "/"
    agg_year_list = os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year = cur_state + year + "/"
        agg_file_list = os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            A = json.load(data)
            
            for i in A['data']['transactionData']:
                name = i['name']
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                columns1['Transaction_type'].append(name)
                columns1['Transaction_count'].append(count)
                columns1['Transaction_amount'].append(amount)
                columns1['State'].append(state)
                columns1['Year'].append(year)
                columns1['Quarter'].append(int(file.strip('.json')))
                
df_agg_trans = pd.DataFrame(columns1)

In [26]:
df_agg_trans.shape

(3594, 6)

Dataframe of aggregated user

In [27]:
path2 = "C:/Users/sanja/Downloads/phonepe project/pulse-master/data/aggregated/user/country/india/state/"

agg_user_list = os.listdir(path2)

columns2 = {'State': [], 'Year': [], 'Quarter': [], 'Brands': [], 'Count': [],
            'Percentage': []}
for state in agg_user_list:
    cur_state = path2 + state + "/"
    agg_year_list = os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year = cur_state + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            B = json.load(data)
            try:
                for i in B["data"]["usersByDevice"]:
                    brand_name = i["brand"]
                    counts = i["count"]
                    percents = i["percentage"]
                    columns2["Brands"].append(brand_name)
                    columns2["Count"].append(counts)
                    columns2["Percentage"].append(percents)
                    columns2["State"].append(state)
                    columns2["Year"].append(year)
                    columns2["Quarter"].append(int(file.strip('.json')))
            except:
                pass
df_agg_user = pd.DataFrame(columns2)

In [28]:
df_agg_user.tail()

            State  Year  Quarter   Brands    Count  Percentage
6727  west-bengal  2022        1   Lenovo   330017    0.015056
6728  west-bengal  2022        1  Infinix   284678    0.012987
6729  west-bengal  2022        1     Asus   280347    0.012790
6730  west-bengal  2022        1    Apple   277752    0.012671
6731  west-bengal  2022        1   Others  2196334    0.100199

In [29]:
df_agg_user.shape

(6732, 6)

Dataframe of map transactions

In [30]:
path3 = "C:/Users/sanja/Downloads/phonepe project/pulse-master/data/map/transaction/hover/country/india/state/"

map_trans_list = os.listdir(path3)

columns3 = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Count': [],
            'Amount': []}

for state in map_trans_list:
    cur_state = path3 + state + "/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)
        
        for file in map_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            C = json.load(data)
            
            for i in C["data"]["hoverDataList"]:
                district = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                columns3["District"].append(district)
                columns3["Count"].append(count)
                columns3["Amount"].append(amount)
                columns3['State'].append(state)
                columns3['Year'].append(year)
                columns3['Quarter'].append(int(file.strip('.json')))
                
df_map_trans = pd.DataFrame(columns3)

In [31]:
df_map_trans.shape

(14636, 6)

In [32]:
path4 = "C:/Users/sanja/Downloads/phonepe project/pulse-master/data/map/user/hover/country/india/state/"

map_user_list = os.listdir(path4)

columns4 = {"State": [], "Year": [], "Quarter": [], "District": [],
            "RegisteredUser": [], "AppOpens": []}

for state in map_user_list:
    cur_state = path4 + state + "/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)
        
        for file in map_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            D = json.load(data)
            
            for i in D["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appOpens = i[1]['appOpens']
                columns4["District"].append(district)
                columns4["RegisteredUser"].append(registereduser)
                columns4["AppOpens"].append(appOpens)
                columns4['State'].append(state)
                columns4['Year'].append(year)
                columns4['Quarter'].append(int(file.strip('.json')))
                
df_map_user = pd.DataFrame(columns4)

In [33]:
df_map_user.shape

(14640, 6)

Dataframe of top transactions

In [34]:
path5 = "C:/Users/sanja/Downloads/phonepe project/pulse-master/data/top/transaction/country/india/state/"

top_trans_list = os.listdir(path5)
columns5 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [],
            'Transaction_amount': []}

for state in top_trans_list:
    cur_state = path5 + state + "/"
    top_year_list = os.listdir(cur_state)
    
    for year in top_year_list:
        cur_year = cur_state + year + "/"
        top_file_list = os.listdir(cur_year)
        
        for file in top_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            E = json.load(data)
            
            for i in E['data']['pincodes']:
                name = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                columns5['Pincode'].append(name)
                columns5['Transaction_count'].append(count)
                columns5['Transaction_amount'].append(amount)
                columns5['State'].append(state)
                columns5['Year'].append(year)
                columns5['Quarter'].append(int(file.strip('.json')))
df_top_trans = pd.DataFrame(columns5)

In [35]:
df_top_trans.shape

(7139, 6)

Dataframe of top users

In [36]:
path6 = "C:/Users/sanja/Downloads/phonepe project/pulse-master/data/top/user/country/india/state/"
top_user_list = os.listdir(path6)
columns6 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],
            'RegisteredUsers': []}

for state in top_user_list:
    cur_state = path6 + state + "/"
    top_year_list = os.listdir(cur_state)
    
    for year in top_year_list:
        cur_year = cur_state + year + "/"
        top_file_list = os.listdir(cur_year)
        
        for file in top_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            F = json.load(data)
            
            for i in F['data']['pincodes']:
                name = i['name']
                registeredUsers = i['registeredUsers']
                columns6['Pincode'].append(name)
                columns6['RegisteredUsers'].append(registeredUsers)
                columns6['State'].append(state)
                columns6['Year'].append(year)
                columns6['Quarter'].append(int(file.strip('.json')))
df_top_user = pd.DataFrame(columns6)

In [37]:
df_top_user.shape

(7140, 5)

Converting Dataframes to CSV files

In [38]:

df_agg_trans.to_csv('agg_trans.csv',index=False)
df_agg_user.to_csv('agg_user.csv',index=False)
df_map_trans.to_csv('map_trans.csv',index=False)
df_map_user.to_csv('map_user.csv',index=False)
df_top_trans.to_csv('top_trans.csv',index=False)
df_top_user.to_csv('top_user.csv',index=False)

Creating connection with MySQL
Connecting with SQL

In [39]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sanju@100",
    database="phonepe_pulse"
)

mycursor = mydb.cursor(buffered=True)

Creating a new Database and tables

In [41]:
# mycursor.execute("CREATE DATABASE phonepe_pulse")

Creating agg_trans table

In [43]:
import mysql.connector
import pandas as pd

# Assuming you have the CSV file paths and table names defined
csv_file_path = 'agg_trans.csv'
table_name = "agg_trans"

# Read the CSV file into a DataFrame
df_agg_trans = pd.read_csv('agg_trans.csv')

# Establish a connection to the MySQL server
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sanju@100",
    database="phonepe_pulse"
)

mycursor = mydb.cursor()

# Insert data into the MySQL table
for i, row in df_agg_trans.iterrows():
    sql = f"INSERT INTO {table_name} (State, Year, Quarter, Transaction_type,Transaction_count,Transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

mycursor.close()
mydb.close()

Creating agg_user table

In [44]:
import mysql.connector
import pandas as pd

# Assuming you have the CSV file paths and table names defined
csv_file_path = 'agg_user.csv'
table_name = "agg_user"

# Read the CSV file into a DataFrame
df_agg_user = pd.read_csv('agg_user.csv')

# Establish a connection to the MySQL server
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sanju@100",
    database="phonepe_pulse"
)

mycursor = mydb.cursor()

# Insert data into the MySQL table
for i, row in df_agg_user.iterrows():
    sql = f"INSERT INTO {table_name} (State, Year, Quarter, Brands, Count, Percentage) VALUES (%s, %s, %s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

mycursor.close()
mydb.close()

Creating map_trans table

In [45]:
import mysql.connector
import pandas as pd

# Assuming you have the CSV file paths and table names defined
csv_file_path = 'map_trans.csv'
table_name = "map_trans"

# Read the CSV file into a DataFrame
df_map_trans = pd.read_csv('map_trans.csv')

# Establish a connection to the MySQL server
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sanju@100",
    database="phonepe_pulse"
)

mycursor = mydb.cursor()

# Insert data into the MySQL table
for i, row in df_map_trans.iterrows():
    sql = f"INSERT INTO {table_name} (State, Year, Quarter, District, Count, Amount) VALUES (%s, %s, %s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

mycursor.close()
mydb.close()

Creating map_user table

In [46]:
import mysql.connector
import pandas as pd

# Assuming you have the CSV file paths and table names defined
csv_file_path = 'map_user.csv'
table_name = "map_user"

# Read the CSV file into a DataFrame
df_map_user = pd.read_csv('map_user.csv')

# Establish a connection to the MySQL server
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sanju@100",
    database="phonepe_pulse"
)

mycursor = mydb.cursor()

# Insert data into the MySQL table
for i, row in df_map_user.iterrows():
    sql = f"INSERT INTO {table_name} (State, Year, Quarter, District, Registered_user, App_opens) VALUES (%s, %s, %s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

mycursor.close()
mydb.close()

Creating top_trans table

In [56]:
import pandas as pd

# To find out Nan values are in which column
columns_with_nan = df_top_trans.columns[df_top_trans.isna().any()].tolist()

print("Columns with NaN values:")
print(columns_with_nan)

Columns with NaN values:
['Pincode']

In [57]:
import pandas as pd

# to count how many Nan values in a column
nan_count = df_top_trans["Pincode"].isna().sum()

print("Number of NaN values in the Pincode column:", nan_count)

Number of NaN values in the Pincode column: 2

In [58]:
import mysql.connector
import pandas as pd
import numpy as np

# Assuming you have the CSV file paths and table names defined
csv_file_path = 'top_trans.csv'
table_name = "top_trans"

# Read the CSV file into a DataFrame
df_top_trans = pd.read_csv('top_trans.csv')

# Drop rows with NaN values in the "Pincode" column
df_top_trans = df_top_trans.dropna(subset=["Pincode"])

# Establish a connection to the MySQL server
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sanju@100",
    database="phonepe_pulse"
)

mycursor = mydb.cursor()

# Insert data into the MySQL table
for i, row in df_top_trans.iterrows():
    sql = f"INSERT INTO {table_name} (State, Year, Quarter, Pincode, Transaction_count, Transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

mycursor.close()
mydb.close()

Creating top_user table

In [59]:
import pandas as pd

# To find out Nan values are in which column
columns_with_nan = df_top_user.columns[df_top_user.isna().any()].tolist()

print("Columns with NaN values:")
print(columns_with_nan)

Columns with NaN values:
[]

In [61]:
import mysql.connector
import pandas as pd
import numpy as np

# Assuming you have the CSV file paths and table names defined
csv_file_path = 'top_user.csv'
table_name = "top_user"

# Read the CSV file into a DataFrame
df_top_trans = pd.read_csv('top_user.csv')


# Establish a connection to the MySQL server
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sanju@100",
    database="phonepe_pulse"
)

mycursor = mydb.cursor()

# Insert data into the MySQL table
for i, row in df_top_user.iterrows():
    sql = f"INSERT INTO {table_name} (State, Year, Quarter, Pincode, Registered_users) VALUES (%s, %s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

mycursor.close()
mydb.close()

List of tables

In [63]:
import mysql.connector

# Establish a connection to the MySQL server
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sanju@100",
    database="phonepe_pulse"
)

# Create a cursor object
mycursor = mydb.cursor()

mycursor.execute("show tables")
mycursor.fetchall()

[('agg_trans',),
 ('agg_user',),
 ('map_trans',),
 ('map_user',),
 ('top_trans',),
 ('top_user',)]